.login-container {
    background-color: var(--background-color);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-contant {
    width: 450px;
    border: 1px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(200px);
    color: white;
    border-radius: 10px;
    padding: 30px 40px;
}

.login-contant h1 {
    text-align: center;
    color: #FF5C8E;
    font-size: 50px;
    margin-bottom: 70px;
}
.input-group label{
    color: #FF5C8E;
    font-size: 20px;
}

.input-group input {
    padding: 5px;
    width: 100%;
    margin: 5px 0px 15px 0;
    border: none;
    border-radius: 5px;
}

.login-contant button{
    margin-top: 20px;
    width: 100%;
    padding: 7px;
    color: white;
    background-color: #FF5C8E;
    border: none;
    border-radius: 7px;
    font-size: 18px;
}
.login-contant .Error {
    color: #FF5C8E;
}

@media screen and (max-width: 768px) {
    .login-contant {
        border: none;
    }
}