.edite-centre-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.edite-centre-contant{
    background-color: #33373E;
    padding: 50px 40px;
}
.edite-centre-contant h1{
    font-size: 25px;
    font-weight: 900;
    color: #FD83A8;
    text-align: center;
    margin-bottom: 40px;
}
.edite-centre-contant .group-input{
    display: grid;
    grid-template-columns: 1fr ;
}

.edite-centre-contant .group-input label{
    color: #E5E7EB;
    font-size: 15px;
    font-weight: 900;
    margin: 10px 0 10px 0;
}
.edite-centre-contant .group-input input{
    padding: 5px 6px;
    border: none;
    border-radius: 5px;
    outline-color: #FD83A8;
    font-size: 15px;
    font-weight: 500;
}

.edite-centre-contant button{
    width: 100%;
    margin-top: 30px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 900;
    padding: 5px;
}
@media screen and (max-width: 768px ) {
    .edite-centre-container{
        display: block;
        padding: 90px 10px;
        height: 100vh;
    }
    .edite-centre-contant{
        padding: 30px 20px;
    }
    .edite-centre-contant h1{
        font-size: 22px;
        margin-bottom: 30px;
    }
    .edite-centre-contant .group-input label{
        color: #E5E7EB;
        font-size: 15px;
        font-weight: 900;
        margin: 10px 0 10px 0;
    }
    .edite-centre-contant .group-input input{
        padding: 4px 5px;
    }
}